<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="FakeItEasy" version="6.2.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net471" />
  <package id="NUnit" version="3.13.1" targetFramework="net471" />
  <package id="Xamarin.Forms" version="4.3.0.991250" targetFramework="net471" />
</packages>