<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.3.0" targetFramework="net452" />
  <package id="FastMember" version="1.1.0" targetFramework="net452" />
  <package id="FluentAssertions" version="4.18.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>